<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Delete</title>
</head>

<body>
    <div align="center">
        <br />
        <h2>Anda yakin akan menghapus data ini?</h2><br />
        <br />
        <form action="" method="POST">
            <td>
                <button type="submit"> Delete </button>
            </td>
            <td>
                <button><a href="/listBook">Cancel</a></button>
            </td>
        </form>
    </div>




</body>

</html>