<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register</h1>
    <form action="/register" method="POST">
        <label>Username</label><br>
        <input type="text" name="username"><br>
        <label>Password</label><br>
        <input type="text" name="password"><br>
        <label>Email</label><br>
        <input type="text" name="email"><br>
        <label>Phone Number</label><br>
        <input type="text" name="phone_number"><br>
        <input type="submit" value="Register">
    </form>
</body>
</html>