<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Public Library!</h1>
    <% if(status === 'offline') { %>
        <a href="/register">Sign Up</a>
        <a href="/login">Sign In</a>
    <% } %>
</body>
</html>